<h1>Modify exam</h1>
<div class="two-columns">
  <div class="half">
    <label>Quiz ID:</label><span class="quiz-id">{{ exam.quiz.id }}</span>
    <label>Quiz title:</label><span class="quiz-title">{{ exam.quiz.title }}</span>
    <label>Exam ID:</label><span class="exam-id">{{ exam.id }}</span>
    <label>Starts at:</label><span class="exam-start">{{ exam.period.start | date:'MMMM d, y, HH:mm' }}</span>
    <label>Ends at:</label><span class="exam-end">{{ exam.period.end | date:'MMMM d, y, HH:mm' }}</span>
    <label>Prestart at:</label><span class="prestart">{{ exam.prestartAt | date:'MMMM d, y, HH:mm' }}</span>
    <label>Host:</label><span class="host">{{ exam.host.name }}</span>
    <label>State:</label><span class="state">{{ exam.state }}</span>
    <label>Trial length, minutes</label><input class="trial-length" type="text" [formControl]="trialLength"/>
    <label>Passing grade, percent</label><input class="passing-grade" type="text"
      [formControl]="passingGrade"/>
    <button class="change-attrs" (click)="changeAttrs()">Change</button>
  </div>
  <div class="half">
    <div>Testees:</div>
    <select class="testees" [(ngModel)]="testeesToExclude" multiple>
      <option class="person" *ngFor="let pers of testees" [ngValue]="pers">{{ pers.name }}</option>
    </select>
    <button class="exclude" (click)="excludeTestees()">Exclude</button>
  </div>
</div>

<div>Include testees</div>
<app-personchooser [(chosen)]="testeesToInclude"></app-personchooser>
<button class="include" (click)="includeTestees()">Include</button>

