<h1>Quiz list</h1>
<table class="quiz-list real-table">
<tr>
  <th>ID</th>
  <th>Title</th>
  <th>Obsolete</th>
  <th>Used</th>
  <th>Is published</th>
  <th>Was published</th>
  <th></th>
</tr>
<tr class="quiz" *ngFor="let quiz of list$|async">
  <td>{{ quiz.id }}</td>
  <td>{{ quiz.title }}</td>
  <td [ngClass]="{'checked':quiz.obsolete,'notchecked':!quiz.obsolete}"></td>
  <td [ngClass]="{'checked':quiz.inUse,'notchecked':!quiz.inUse}"></td>
  <td [ngClass]="{'checked':quiz.isPublished,'notchecked':!quiz.isPublished}"></td>
  <td [ngClass]="{'checked':quiz.everPublished,'notchecked':!quiz.everPublished}"></td>
  <td>
    <a class="toexam" *ngIf="!quiz.obsolete && !quiz.everPublished" 
        routerLink="/newexam/{{quiz.id}}">
    Schedule exam
    </a>
    <a class="action-link publish" *ngIf="!quiz.isPublished && !quiz.inUse" (click)="publish(quiz.id)">
    Publish
    </a>
    <a class="action-link unpublish" *ngIf="quiz.isPublished" (click)="unpublish(quiz.id)">
    Unpublish
    </a>
  </td>
</tr>
</table>
