/* You can add global styles to this file, and also import other style files */

body {
  max-width: 700px;
  margin: 20px;
}

.action-link{cursor:pointer;text-decoration:underline}
a{padding-left:5px;padding-right:5px}

.real-table {
  background-color:#ddd;
  width: 100%;
}
.real-table th,td{background-color:white;padding:5px}
.two-columns{
  display: flex;
}
.two-columns>.half{
  flex: 50%;
}
