<div class="all">

  <div class="half">
    <input placeholder="Filter person" class="persons-filter" type="text" 
        [formControl]="filter"/>
    <select class="persons-src" multiple [(ngModel)]="toChoose">
      <option class="person" *ngFor="let pers of list$|async" [ngValue]="pers">{{ pers.name }}</option>
    </select>
    <button class="persons-select" (click)="add()">Add</button>
  </div>

  <ul class="half">
    <li class="person-selected" *ngFor="let pers of chosen">
      {{ pers.name }} <a class="action-link person-selected-remove" (click)="remove(pers.id)">remove</a>
    </li>
  </ul>

</div>
