<h1>New exam</h1>
<h2 class="quiz-id">{{ quiz.id }}</h2>
<h3 class="quiz-title">{{ quiz.title }}</h3>

<div class="field-row">
  <label>Exam ID:</label><input type="text" class="exam-id" [formControl]="examId"/>
</div>
<div class="field-row">
<label>Trial length, minutes:</label><input type="text" class="trial-length" [formControl]="trialLength"/>
</div>
<div class="field-row">
<label>Passing grade, percent:</label><input type="text" class="passing-grade" [formControl]="passingGrade"/>
</div>
<div class="field-row">
<label>Period:</label>
<input type="text" ngxDaterangepickerMd 
  readonly
  [locale]="{separator:' to ',format:'YYYY-MM-DD HH:mm'}"
  [timePicker]="true"
  [timePickerSeconds]="false"
  [timePicker24Hour]="true"
  [timePickerIncrement]="5"
  startKey="start"
  endKey="end"
  [(ngModel)]="period" class="form-control period"/>
</div>
Testees:<br>
<app-personchooser [(chosen)]="selectedPersons"></app-personchooser>

<button class="create" (click)="createExam()">Create</button>
