<h1>New exam</h1>
<h2 class="quiz-id">{{ quiz?.id }}</h2>
<h3 class="quiz-title">{{ quiz?.title }}</h3>

<label>ID:</label><input type="text" class="exam-id" [formControl]="examId"/>
<label>Trial length:</label><input type="text" class="trial-length" [formControl]="trialLength"/>

<label>Period:</label>
<input type="text" ngxDaterangepickerMd 
  [locale]="{separator:' to ',format:'YYYY-MM-DD HH:mm'}"
  startKey="start"
  endKey="end"
  [(ngModel)]="period" class="form-control period"/>

<app-personchooser (onChange)="personsSelected($event)"></app-personchooser>

<button class="create" (click)="createExam()">Create</button>
