.check {
  -fx-graphic: url('icons/check-circle-bold.png');
  -fx-font-weight: bold;
}
.uncheck {
  -fx-graphic: url('icons/x-circle-bold.png');
  -fx-font-weight: bold;
}

.add-user {
  -fx-graphic: url('icons/user-plus-bold.png');
}
.del-user {
  -fx-graphic: url('icons/user-minus.png');
}

.table-row-cell .hl-button {
  visibility: hidden;
  -fx-cursor: hand;
}
.table-row-cell:hover .hl-button {
  visibility: visible;
}

.home {
  -fx-graphic: url('icons/house-bold.png');
}
.logout {
  -fx-graphic: url('icons/sign-out-bold.png');
}

.alt .btn {
  visibility: hidden;
}
.alt:hover .btn {
  visibility: visible;
}

.checked {
  -fx-background-color: darkgray;
  -fx-text-fill: white;
}

.hint-alt .button {
  visibility: hidden;
}
.hint-alt:hover .button {
  visibility: visible;
}
.plus {
  -fx-graphic: url('icons/plus-circle-bold.png');
  -fx-padding: 2;
}
.minus {
  -fx-graphic: url('icons/minus-circle-bold.png');
  -fx-padding: 2;
}

.cell-button {
  visibility: hidden;
  -fx-cursor: hand;
}
.list-cell:hover .cell-button {
  visibility: visible;
}
.table-row-cell:hover .cell-button {
  visibility: visible;
}

