.check {
  -fx-graphic: url("approved.png");
  -fx-font-weight: bold;
}
.uncheck {
  -fx-graphic: url("disapproved.png");
  -fx-font-weight: bold;
}

.table-row-cell .hl-button {
  visibility: hidden;
  -fx-cursor: hand;
}
.table-row-cell:hover .hl-button {
  visibility: visible;
}

.home {
  -fx-graphic: url("home.png");
}
.logout {
  -fx-graphic: url("logout.png");
}

.alt .btn {
  visibility: hidden;
}
.alt:hover .btn {
  visibility: visible;
}

.checked {
  -fx-background-color: darkgray;
  -fx-text-fill: white;
}

.hint-alternative .button {
  visibility: hidden;
}
.hint-alternative:hover .button {
  visibility: visible;
}
.plus {
  -fx-graphic: url('plus.png');
  -fx-padding: 2;
}
.minus {
  -fx-graphic: url('minus.png');
  -fx-padding: 2;
}

